/* 변수 */
:root{
  /*나중에 html에 이 클래스만 써주면 굳이 하나하나 안써줘도 이거 하나만으로 설정가능*/
  --main-txt-color:rgba(0,0,0,0.9); /*0.5랑 0.9는 opacity를 의미*/
  --sub-txt-color:rgba(0,0,0,0.4);
  --kakao-color:#ffe812;

  --border-color:#666666;
  --main-border:1px solid var(--border-color);

  --kakao-nav-color:#f9f9fa;
}